.Rproj.user
.Rhistory
.RData
.Ruserdata
AukeCreek_Sockeye_2016_qPCRVsCount_20170802.1.xlsx
old
~$AukeCreek_Sockeye_2016_qPCRVsCount_20170802.2.xlsx
2017_2016_Auke_qPCR.Rproj
sockeye time series.pdf

data/Hawaii.txt
